---
import { getI18N } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<h2 class="text-2xl font-bold mb-6 text-secondary">
  {i18n.EXPERIENCE_TITLE}
</h2>

<ol class="relative border-s border-secondary">
  {
    i18n.EXPERIENCE.map((job) => (
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-secondary" />
        <time class="mb-1 text-sm font-normal leading-none text-gray-400">
          {job.date}
        </time>
        <h3 class="text-lg font-semibold text-secondary">
          {job.position} | <span class="text-white">{job.company}</span>
        </h3>
        <p
          class="mb-4 text-base font-normal text-white leading-6"
          style="text-wrap: balance;"
        >
          {job.description}
        </p>
      </li>
    ))
  }
</ol>
