---
import Project from "../components/Project.astro";
import { getI18N } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="grid gap-6 grid-cols-1 md:grid-cols-1">
  {
    i18n.PROJECTS.map((project) => (
      <Project
        title={project.title}
        description={project.description}
        href={project.href}
        image={project.image}
        technologies={project.technologies}
      />
    ))
  }
</div>
